$bg-color: #f8fafb;
$bg-input-color: #f1f1f1;
$icon-light-blue: #6fd5cf;
$icon-dark-blue: #1763cf;
$button-darker-blue: rgb(124, 166, 224);
$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
$light-text-color: #516a8d;
$dark-text-color: #1f3b5d;
